{% extends "base.html" %}
{% block title %}
    <title>Profile</title>
{% endblock %}
{% block content %}
    <form method="post" role="form">
        {% csrf_token %}
        <legend>Добавить статью</legend>

        <div class="form-group">
            <label for="title">Заголовок</label>
            <input type="text" class="form-control" name="title" id="title" placeholder="Input...title">
        </div>
        <label for="event">Мероприятие</label>
        <select name="event" id="event" class="form-control">
            {% for event in events %}
                <option value="{{ event.id }}">{{ event.title }}</option>
            {% endfor %}
        </select>

        <div class="form-group">
            <label for="text">Текст</label>
            <textarea class="form-control" name="text" id="text"></textarea>
        </div>


        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}