{% extends "base.html" %}
{% block title %}
    <title>Create event</title>
{% endblock %}
{% block content %}
    <form  method="post">{% csrf_token %}
        {{ f.as_p }}

        <p><input type="submit" value="save"></p>
    </form>
{% endblock %}