{% extends "base.html" %}
{% block title %}
    <title>Article page</title>
{% endblock %}
{% block content %}
    <p>{{ article.title }}</p>
    <p>{{ article.auther.username }}</p>
    <p>{{ article.pubTime }}</p>
    <p>{{ article.text }}</p>
{% endblock %}