{% extends "base.html" %}
{% block title %}
    <title>Event page</title>
{% endblock %}
{% block content %}
    <p>{{ event.title }}</p>
    <p>{{ event.address }}</p>
    <p>{% if  event.private  %}
        Закрытый
    {% else %}
        Окрытый
    {% endif %}
    </p>
{% endblock %}