{% extends "base.html" %}
{% block title %}
    <title>Home</title>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>Отдыхай, помогая</br><small>СТАНЬ ВОЛОНТЕРОМ, ГДЕ ТЫ ДЕЙСТВИТЕЛЬНО НУЖЕН</small></h1>
        </div>

    </div>
{#    <h1>Отдыхай, помогая</h1>#}
{#    <h3>СТАНЬ ВОЛОНТЕРОМ, ГДЕ ТЫ ДЕЙСТВИТЕЛЬНО НУЖЕН</h3>#}
{#    <h5>главное начать</h5>#}
{% endblock %}
