{% extends "base.html" %}
{% block content %}
{#        <form action="{% url "login" %}{{ next }}" method="post" role="form">#}
{#        {% csrf_token %}#}
{#        <p><input type="text" name="username"/> </p>#}
{#        <p><input type="password" name="password"/> </p>#}
{#        <p><input type="submit" value="Войти"/> </p>#}
{#        </form>#}
    <div class="container-fluid">

        <form action="{% url "login" %}{{ next }}" method="post" role="form" >
            {% csrf_token %}
            <legend>Вход</legend>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">

                <div class="form-group">
                    <label for="id_username">Логин</label>
                    <input type="text" class="form-control" name="username" id="id_username">
                </div>
                <div class="form-group">
                    <label for="id_password">Пароль</label>
                    <input type="password" class="form-control" name="password" id="id_password">
                </div>
                <button type="submit" class="btn btn-primary">Войти</button>
            </div>


        </form>
    </div>

{% endblock %}
