{% extends "base.html" %}
{% block title %}
    <title>Profile</title>
{% endblock %}
{% block content %}
    <div class="page-header">
        <h1>Привет {{ user.username }}!</br>
            <small>Рады снова тебя видеть</small>
        </h1>
    </div>
    <p><a href="{% url 'event:add_event' %}">Создай мероприятие</a></p>
    <p><a href="{% url 'event:add_article' %}">Напиши статью</a></p>

{% endblock %}